*{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

img{
    border-radius: 6px;
}

body{
    background-color: #2E083D;
    color: white;
}

/* Nav Styling */
nav{
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 10px 8%;

}

nav a{
    color: white;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 8%;
    margin: 50px auto;
    max-width: 1680px;
}

.innerNavContainer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1680px;
}

.heroImg{
    width: 100%;
}

h1, h2{
    margin-bottom: 20px;
}

/* Now Playing Styling */
.nowPlayingImgContainer{
    display: flex;
    gap: 20px;
}

.nowPlayingContainer img{
    width: 100%; 

}

.nowPlayingTwoThreeContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

/* Tomorrow's Schedule Styling */
.tmrScheduleContainer {
    max-width: 100%;
    overflow: hidden;
}

.scrollContainer{
    overflow-x: scroll;
}

.tmrShowContainer{
    display: flex;
    gap: 20px;
    padding-bottom: 60px;
}

.tmrShowContainer img{
    width: 20%;
}

/* Scroll bar styling */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(45deg, #FF5C00, #CB2DFF);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    background: #888; 
    border-radius: 6px;
}

footer{
    text-align: center;
    margin-bottom: 50px;
}

/* Mobile Styling */
@media screen and (max-width: 580px){
    .nowPlayingImgContainer{
        flex-wrap: wrap;
    }
    .nowPlayingOneContainer, .nowPlayingTwoThreeContainer{
        width: 100%
    }
    .tmrShowContainer img{
        width: 50%;
    }
}